<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Horizontal Form</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for = "loginName" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="loginName" placeholder="用户名" [value]="user.loginName">
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="col-sm-2 control-label">手机</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="mobile" placeholder="手机" [value]="user.mobile">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">电子邮箱</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="电子邮箱" [value]="user.email">
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button (click)="cancel()" type="submit" class="btn btn-default pull-left">取消</button>
      <button (click)="confirm()" type="submit" class="btn btn-info pull-right">确认</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
